h1 {
    color:red;
    text-align:center;
}
footer p {
    color:red
}
p {
    color:gray
}
header p {
    color:lime;
}

header p span {
    color:brown;
}

.highlight {
    color:chocolate;
    background-color:cadetblue;
}

.brand-color {
    color:orange;
    background-color: black;
}